@import '../../styles/themes/buttons';

.main {
    padding: 1rem;
}

.listItem {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.title {
    text-align: center;
}

.total {
    text-align: center;
    font-weight: bold; 
}

.paymentProcessBtn {
    @extend .btn;
    @extend .btn-black;

    margin-top: 1rem;
    width: 100%;
}