@import '../../../styles/themes/buttons';

.main {
    padding: 1rem;
}

.item {
    text-align: center;
}

.goBackBtn {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.addProductBtn {
    @extend .btn;
    @extend .btn-black;

    margin-top: 1rem;
}

.img {
    width: 100px;
    height: 100px;
}

.priceBlock {
    margin: 2rem 0;
}

.priceLabel {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 99rem;
}